.formOferta {
    width: 90%;
    margin: auto;
    margin-top: var(--padding);
    margin-bottom: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formOferta * {
    display: flex;
    flex-direction: column;
  }
  
  .formOferta input {
    width: 50%;
    list-style: none;
    background: white;
    border-radius: 30px;
    padding: var(--padding);
    margin: var(--padding);
  }
  
  .formOferta label {
    font-size: 2em;
    color: rgb(49, 49, 49);
    font-weight: bold;
  }

  #enviar {
    width: 10em;
    border-radius: 5px;
    border: transparent;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

#enviar:hover{
  background: white;
  color: var(--primary-color);

}
  
